@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
html {
  display: grid;
  min-height: 100%;
}

body {
  display: grid;
  background: linear-gradient(to bottom left, #79C7C5 40%, #F9FBFF 100%);
  font-family: "Lato", sans-serif;
}

.container {
  position: relative;
  margin: 3% auto;
  width: 620px;
  height: 90%;
}

.messages {
  position: absolute;
  background: #f9fbff;
  opacity: 0.5;
  width: 30%;
  height: 70%;
  top: 2.5%;
  left: 5%;
  border-radius: 10px 0 0 10px;
  box-shadow: -5px 5px 10px rgba(119, 119, 119, 0.5);
  overflow-y: auto;
  overflow-x: hidden;
}

/*chat messages */
.people {
  position: absolute;
  list-style-type: none;
  width: 30.2%;
  left: -10px;
  top: 14%;
  line-height: 0.7em;
}
.people .title {
  text-transform: uppercase;
  font-size: 0.7em;
  margin-left: 14px;
  letter-spacing: 1px;
  color: #777777;
}
.people .time {
  font-size: 0.3em;
  color: #777777;
  position: absolute;
  right: 10px;
  margin-top: 2px;
}
.people .preview {
  color: #79C7C5;
  margin-left: 14px;
  font-size: 0.5em;
}

.person {
  padding: 12px 0 12px 12px;
  border-bottom: 1px solid #79C7C5;
  cursor: pointer;
}
.person:hover {
  background: #F9FBFF;
  transition: all .3s ease-in-out;
}

.focus {
  background: #F9FBFF;
  margin-left: 1px;
}

.profile {
  position: absolute;
  left: 16%;
  top: 7%;
}

.name2 {
  position: relative;
  top: 50px;
  text-transform: uppercase;
  color: #79C7C5;
  font-size: .8em;
  letter-spacing: 2px;
  font-weight: 500;
  text-align: center;
  left: -13px;
}

.email {
  color: #F9FBFF;
  font-size: .5em;
  margin-left: -30px;
  margin-top: 2px;
}

.chatbox {
  position: absolute;
  left: 35%;
  height: 100%;
  width: 60%;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(119, 119, 119, 0.5);
}

.top-bar {
  width: 100%;
  height: 60px;
  background: #F9FBFF;
  border-radius: 10px 10px 0 0;
}

.avatar {
  width: 35px;
  height: 35px;
  background: linear-gradient(to bottom left, #79C7C5 20%, #A1E2D9 100%);
  border-radius: 50%;
  position: absolute;
  top: 11px;
  left: 15px;
}
.avatar p {
  color: #F9FBFF;
  margin: 7px 12px;
}

.name {
  position: absolute;
  top: 22px;
  text-transform: uppercase;
  color: #777777;
  font-size: .8em;
  letter-spacing: 2px;
  font-weight: 500;
  left: 60px;
}

.menu {
  position: absolute;
  right: 10px;
  top: 20px;
  width: 10px;
  height: 20px;
  cursor: pointer;
}
.menu:hover {
  transform: scale(1.1);
  transition: all .3s ease-in;
}

.icons {
  position: absolute;
  color: #A1E2D9;
  padding: 10px;
  top: 5px;
  right: 21px;
  cursor: pointer;
}
.icons .fas {
  padding: 5px;
  opacity: 0.8;
}
.icons .fas:hover {
  transform: scale(1.1);
  transition: all .3s ease-in;
}

.dots {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #79C7C5;
  box-shadow: 0px 7px 0px #79C7C5, 0px 14px 0px #79C7C5;
}

.middle {
  position: absolute;
  background: #F9FBFF;
  width: 100%;
  opacity: 0.85;
  top: 60px;
  height: 93%;
  overflow: auto;
}

.incoming {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 7px;
  float: left;
  height: auto;
}
.incoming .bubble {
  background: #b2b2b2;
}

.typing {
  position: absolute;
  bottom: 16px;
  left: 20px;
  transition: 0.4s ease;
  transform: scale(0);
}
.typing .bubble {
  background: #eaeaea;
  padding: 8px 13px 9px 13px;
}

.ellipsis {
  width: 5px;
  height: 5px;
  display: inline-block;
  background: #b7b7b7;
  border-radius: 50%;
  animation: bounce 1.3s linear infinite;
}

.one {
  animation-delay: 0.6s;
}

.two {
  animation-delay: 0.5s;
}

.three {
  animation-delay: 0.8s;
}

.bubble {
  position: relative;
  display: block;
  margin-bottom: 0px;
  color: #F9FBFF;
  font-size: 0.7em;
  padding: 10px 10px 10px 12px;
  border-radius: 20px;
  width: 50%;
}

.lower {
  margin-top: 45px;
}

.outgoing {
  position: relative;
  padding: 20px;
  right: 0;
  top: 0px;
  width: 50%;
  height: 100%;
  float: right;
  height: auto;
}
.outgoing .bubble {
  background: #79C7C5;
  float: right;
}

.bottom-bar {
  position: absolute;
  width: 100%;
  height: 55px;
  bottom: 0;
  background: #F9FBFF;
  border-radius: 0 0 10px 10px;
}

.left {
  left: 0px;
}

input {
  padding: 7px;
  width: 74%;
  left: 5%;
  position: absolute;
  border: 0;
  top: 13px;
  background: #F9FBFF;
  color: #79C7C5;
}

input::placeholder {
  color: #A1E2D9;
}

input:focus {
  color: #777777;
  outline: 0;
}

button {
  position: absolute;
  border: 0;
  font-size: 1em;
  color: #A1E2D9;
  top: 19px;
  opacity: 0.8;
  right: 17px;
  cursor: pointer;
  outline: 0;
}
button:hover {
  transform: scale(1.1);
  transition: all .3s ease-in-out;
  color: #79C7C5;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  font-size: 0.7em;
  padding: 10px;
}
footer p {
  color: #79C7C5;
  text-transform: uppercase;
  letter-spacing: 2px;
}
footer a {
  color: #F9FBFF;
  text-decoration: none;
}
footer a:hover {
  color: #A1E2D9;
}

@keyframes bounce {
  30% {
    transform: translateY(-2px);
  }
  60% {
    transform: translateY(0px);
  }
  80% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0px);
    opacity: 0.5;
  }
}

.background{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('../background.jpg');
}

.voldemort{
    position: relative;
    width: 100%;
    height: 93%;
    background: rgba(0,0,0,.10);
    overflow-y: auto;
    overflow-x: hidden;
}

.up{
    transform: scale(1);
}

@media screen and (max-width: 800px){
  .chatbox{
    width: 100%;
    left: 0px;
    margin-left: 0px;
    position: fixed;
    top: 0px;
    border-radius: 0px;
  }

  .top-bar{
    border-radius: 0px;
  }

  .container{
    width: 100%;
     border-radius: 0px;
  }

  .messages{
    display: none;
  }

  .people{
    display: none;
  }

  .profile{
    display: none
  }
}